*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ff0000;
    
}
header{
    border-bottom: 2px solid black;
}
.navs{
    background-color: rgb(76, 124, 201);
    /* position: fixed; */
    position: sticky;
    top:0px;
}
.Main_Logo{
width: 20rem;
padding: 10px 0px 5px 40px;
}
.nav-lists{
display: flex;
justify-content: space-between;
color: white;
}
.nav-list-items{
    list-style: none;
    padding: 20px;
    cursor: pointer;
}
.nav-list-items:hover{
    background-color: aquamarine;
    /* color: green; */
}
.sec1{
    /* border-bottom: 1px solid beige; */
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0.5rem;
}

.hot_topic{
    display: flex;
}


.hot-topic-list{
    display:flex;
    justify-content: space-between;
}
    .hot-topic-list span{
        font-size: small;
        /* padding-top:1rem; */
        padding: 0.5rem;

    }

.hot-topic-list img{
    width: 2rem;
}
.search_box{
    border: 2px solid black;
    background-color: rgb(122, 151, 142);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search_field{
    /* width: 90%; */
    border: none;
    outline: none;
background-color: transparent;
color: white;
/* font-size: large; */
}
.search_box img{
    height: 0.8rem;
    cursor: pointer;
}
.search_field::placeholder{
    color:white;
}
/* section 2 css */
.sec2{
 text-align: center;
    margin-top: 1rem;
}
.headline1{
    font-size: larger;
    cursor:pointer;
    color: rgb(70, 70, 115);
    padding-bottom: 1rem;
}
.headline1:hover{
    color: blue;
}

.icon-clock-com {
display: flex;
align-items: center;
justify-content: center;
}
.icon-clock-com img{
    padding:2px;

}
.ok-icon2{
    height: 5rem;
    width: 5rem;
}
/* .icon-clock-com span{   
 .headline1-img
    display:flex;
    justify-content: center;
    height: 90vh;
    border-radius: 15px;
} */
.headline1-article{
    font-size: 1rem;
    padding-top: 1rem;
text-align: center;
}
.main-footer{
    display: flex;
    padding-bottom: 3.5rem;
    background-color: rgb(244, 250, 254);
    justify-content: space-evenly;
    
}
.main-footer h3{
    font-size: larger;
color: rgba(66, 66, 250, 0.758);
padding: 10px;
}
.main-footer li{
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;
    color: gray;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bold; */
}
.main-footer li:hover{
    color: blue;
}
.second-footer{
    background-color: rgb(218, 237, 252);
    padding: 2rem;
    /* margin-top: 3rem; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* row-gap: 1rem; */
    color: gray;
}
.second-footer-img{
    width: 15rem;
    /* height: 1.5rem; */
    padding-right:1rem ;
    border-right: 1px solid gray ;
}
.head-topics{
    color: blue;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 2.5rem;
}
.LS-IMGS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    /* margin: 2rem 0rem 2rem 2rem; */
}
.LS-IMGS img{
    height:200px;
    width:300px;
}
.sec4-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.sec4 img{
    height: 250px;
    width: 250px;   
}
.sec5-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sec5 img{
    height: 250px;
    width: 250px;
}
.post-nav{
    /* padding: 2.5rem; */
    background-color: rgba(103, 103, 248, 0.534);
}
.post-nav1{
    display: flex;
    justify-content: left;
    justify-items: left;
    gap: 10rem;
    padding: 1.5rem;
    align-items: center;
    color: white;
}
.post-nav1 ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;
    /* justify-content: center;
    text-align: center;
    justify-content: space-around; */
}
.post-nav-img{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid yellow;
}
.post-nav-img img{ 
    height: 225px;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
}
.LS-IMGS div{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: justify;
}
.LS-IMGS img{
    object-fit: fill;
}
.LS-IMGS p{
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}

